* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    background-color: #FAFAF9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card {
    width: 368px;
    background-color: #FFFFFF;
    padding-top: 16px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 10px;
}

.img {
    margin: 0 16px 0 16px;
}

img {
    border-radius: 10px;
}

.tag {
    margin: 16px 16px 0 16px;
    font-size: 10px;
    font-weight: 800;
    max-width: fit-content;
    padding: 6px 16px 6px 16px;
    background-color: #E6D6FC;
    color: #883AE1;
    border-radius: 15px;
}

h1 {
    margin: 16px 16px 0 16px;
    font-size: 18px;
    color: #20293A;
}

p {
    margin: 6px 16px 0 16px;
    font-size: 14px;
    color: #6C727F;
}

.author {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px 16px 0 16px;
    border-top: solid 1px #E5EAF0;
}

h2 {
    font-size: 12px;
    font-weight: 100;
    color: #6C727F;
}